{% extends 'shop/layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 col-md-6 col-lg-6  mx-auto p-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ itemform|crispy}}
                    {{ imageform|crispy}}
                </div>


                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-outline-success" name="add">List Item</button>
                    <a href="{% url 'index' %}" class="btn btn-outline-warning" name="back">Later</a>
                </div>
                
            </form>
        </div>
    </div>
</div>




<!-- end document-->


{% endblock content %}