{% extends 'shop/layout.html' %}
{% load static %}
{% block css %}
<link href="{% static 'styles/cart.css' %}" rel="stylesheet" />
{% endblock css %}

{% block content %}

<div class="container mb-4 mt-5">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart %}

                        <tr>
                            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                            <td>{{item.item.name}}</td>
                            <td>In stock</td>
                            <td><input class="form-control" type="number" value="1" /></td>
                            <td class="text-right">${{item.item.price}}</td>
                            <td class="text-right"><a class="btn btn-sm btn-danger" href="{% url 'rm-cart' item.id %}">Remove </a> </td>
                        </tr>



                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-block btn-light">Continue Shopping</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}