{% extends 'shop/layout.html' %}




{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Hello !</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        

            <div class="col-6 mb-5" >
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center w-100 d-flex flex-column">
                            <a class="btn btn-outline-dark mt-auto" 
                            href="{% url 'item' 20 %}">View options</a>
                            {% if user.is_authenticated %}
                            <a href="#" class="btn btn-outline-dark mt-2 add-to-basket" data-name='2'>Add To Cart</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
    
            </div>

            


            
            
            
                
                
        </div>
            
    </div>

    <script>
        document.addEventListener('DOMContentLoaded',()=>{
            let btns=document.querySelectorAll('.add-to-basket')
            btns.forEach(btn=>{
                btn.addEventListener('click',(e)=>{
                    
                    try {
                        let req=new XMLHttpRequest()
                        req.open('GET',`{% url 'basket' 2 %}`)

                        req.onreadystatechange=()=>{
                            // console.log(req.responseText)
                            if(req.readyState == 4 && req.status == 200){
                                document.getElementById('count').innerHTML=JSON.parse(req.responseText).count
                            }
                        }
                        req.send()
                        
                    } catch (error) {
                        console.log(error)
                    }
                })
            })
        })
    </script>

        
    
</section>

{% endblock %}