{% extends 'shop/layout.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class=" mx-auto">
        <!-- <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div> -->
        <div class="col-md-5 border-right mx-auto col-6">
            
            <div class="p-3 py-5">
                
                <div class="row mt-2">
                    
                    <div class="col-md-6"><label class="labels">Username</label><input type="text" class="form-control" value="{{user.username}}" placeholder="surname" readonly></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value="{{user.phone}}" readonly></div>
                    
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value="{{user.email}}"></div>
                    
                </div>
                
               
            </div>
        </div>
        
    </div>
</div>
<div class="container">
    <div class="row">
        
            <h5>User Products</h5>
            {% for item in items %}
                <div class="col-6 col-lg-4 mb-5" >
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ item.name }}</h5>
                                <!-- Product price-->
                                ${{ item.price }}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center w-100 d-flex flex-column">
                                <a class="btn btn-outline-dark mt-auto" 
                                href="{% url 'item' item.id %}">View options</a>
                                {% if user.is_authenticated %}
                                    {% if item.user == user %}
                                    <a href="{% url 'edit' item.id %}" class="btn btn-outline-warning mt-2 add-to-basket" data-name='2'>Edit</a>
                                    {% else %}
                                    <a href="#" class="btn btn-outline-dark mt-2 add-to-basket" data-name='{{item.id}}'>Add To Cart</a>
                                    {% endif %}
                                
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}

        
    </div>
</div>


{% endblock content %}